h1 {
  color: darkblue;
  background-color: rgb(209, 240, 230);
  display: inline-block;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
}

h2 {
  font-style: italic;
}

.successMessage {
  color: rgb(25, 102, 57);
  background: rgb(190, 219, 196);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.errorMessage {
  color: red;
  background: rgb(233, 209, 220);
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}